# Dependencies
node_modules

# One-Offs / Generated
coverage
build
stats.json
npm-debug.log
.nyc_output/*

# Mac meta file
.DS_Store

# Configuration
.env
cypress.env.json

# Cypress intermediate assets
cypress/videos
cypress/screenshots

# Cypress generated reports
cypress/cucumber-json

# Firebase hosting cache files
.firebase/